name: CI

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  checks:
    name: Run all checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Check Nix formatting
        run: git ls-files '*.nix' | xargs nix develop --command nixfmt --check

      - name: Install npm dependencies
        run: nix develop --command npm ci

      - name: Lint
        run: nix develop --command npm run lint

      - name: Run test suite
        run: nix develop --command npm run test

      - name: Build
        run: nix develop --command npm run build

      - name: Check git status
        run: git status --porcelain=v1

      - name: Ensure no staged changes
        run: git diff --exit-code

      # Docs are hosted on Netlify but we should get feedback on that here in Actions as well
      - name: Build docs
        run: |
          rm -rf dist
          nix develop --command npm run docs
